pymongo[srv]==3.11.4
motor==2.4.0
marshmallow 
python-telegram-bot==11.1.0
umongo
requests
bs4
Pyromod
imdbpy==2021.4.18
youtube-dl
youtube_search
requests
googletrans==3.1.0a0
telegraph
@@ -21,31 +18,29 @@ googletrans==3.1.0a0
NumPy
glitch_this
opencv-python-headless
youtube-search-python==1.4.6
yt-dlp
youtube_search_python
youtube-dl
youtube_search
ytthumb
search_engine_parser
pypng
Pillow
wget
aiofiles
psutil
wheel
humanize
ytthumb
PyPDF2
pyshorteners
ffmpeg-python
TgCrypto
py-tgcalls
python-dotenv
youtube_search_python
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg-python
ffmpeg
Pillow
ujson
speedtest
